/* Reset CSS*/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Atas Kanan Bawah Kiri */
/* Code header */
/* https://docs.google.com/spreadsheets/d/1PGxnCc-QviOyPeKau-AIwmQ29Hsr3QNM5D2bCw20Czg/edit?usp=sharing */


header{
  top: 0;
  height: 85px;
  width: 100%;
  /*border: 1px solid;*/
  background-color: rgba(52, 73, 94,0.9);
  position: fixed;
  z-index: 10;
}

.logo {
  float:left;
  height: 50px;
  border: 1px solid;
  border-color: white;
  padding: 10px;
  background-color:red;

}


.header-list li {
  float: right;
  padding-left: 10px;
  padding-top: 20px;

}

.header-list a {
  color:white;
  text-decoration: none;
  border: 1px solid;
  padding: 5px;
  background-color: black;
  border-radius: 5px;
}

.header-list a:hover {
  background-color: red;
}

.container{
  margin: 5px 50px 0 50px;
}

.heading{
  padding: 180px 50px 300px 50px;
  margin-top:0px;
  /*border: 1px solid;*/
  background-image: url(banner.png);
  background-size:cover;



}

.heading-text h1{
  color: rgba(61, 61, 61,1.0);
  text-align: center;
  font-size: 60px;
  padding-top:100px;
}

.select{
  color:red;
}

.heading-text h2{
  color: blue;
  text-align: center;
  font-size: 16px;
}


.main{
  height: 450px;
  padding-bottom: 20px;
  background-color: #f7f7f7;
  text-align: center;
}


/* product */
.header-main{
  padding: 50px 0 50px 0;
}

.product{
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}

.product-list{
  float: left;
  width: 25%;
}

.product-icon{
  position: relative;
}

.product-icon img{
  height: 200px;
}

.product-icon p{
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.product-icon:hover{
  opacity: 0.7;
  cursor: pointer;
}

.txt-content {
  width: 80%;
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  color: #b3aeb5;
}

/* message product */

.message-product{
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  padding-top: 20px;
}

.message{
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active{
  position: relative;
  top: 7px;
  box-shadow: none;
}

.btn{
  padding: 13px 15px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  opacity: 1;
  margin-top: 20px;
}

.btn:hover{
  opacity: 0.6;
}
